<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.example.demo.mappers.user.UserMapper">
    <resultMap id="UserMap" type="User">
        <result property="userId" column="userid" />
        <result property="userNm" column="userName" />
        <result property="age" column="age" />
        <result property="address" column="address" />
    </resultMap>

    <select id="searchAllUser" resultMap="UserMap">
        SELECT
        *
        FROM
        user
        WHERE
        userName  = "June"
        <if test="age != null">
            AND age = 12
        </if>
    </select>

    <resultMap id="UserMap" type="User">
        <result property="productId" column="productid" />
        <result property="productNm" column="productnm" />
        <result property="cateName" column="catename" />
    </resultMap>
    
    <select id="searchAllProduct">
        SELECT productid,productnm,catename FROM `product` JOIN category on category.cateid= product.categoryId
    </select>

</mapper>